<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stockinventorymanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StockInventoryManagement">
        <activity android:name=".productout"></activity>
        <activity android:name=".productin" />
        <activity android:name=".setting" />
        <activity android:name=".addproduct" />
        <activity android:name=".settings" />
        <activity android:name=".lowstock" />
        <activity android:name=".Transactions" />
        <activity android:name=".Allparties" />
        <activity android:name=".Productlist" />
        <activity android:name=".home" />
        <activity android:name=".Navigation" />
        <activity android:name=".Signup" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>